@import '../../styles/variables.scss';

.table__list {
    
    &-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 100px;
        padding: 15px 20px;
        border-radius: 20px;
        margin-bottom: 10px;
        background-color: $dark;
        box-shadow: -5px 5px 25px $light-dark;
       
        
        &-text {
            width: 350px;
            padding: 10px;
            word-break: break-all;
            line-height: 25px;
            font-size: 20px;
            color: $white;

        }

        .name {
            width: 250px;
        }
        
        .id {
            width: 100px;
        }

        a {
            color: $white;
            background-color: $grey;
        }
        
    }
}
