@import './variables.scss';

.btn {
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-transform: uppercase;
    width: 240px;
    margin-top: 38px;

    &-primary {
        background-color: $main-color;
    }

    &-secondary {
        background-color: $secondry-color;
    }

    &:active {
        background-color: $dark-main;
    }
    &:hover {
        transform: scale(0.95);
    }
}

.small {
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 15px;
    height: 35px;
    width: 130px;
}

.long {
    padding: 10px 20px;
    width: 100%;
}